## 6.1

### a

In [1]:
foo <- c(13563, -14156, -14319, 16981, 12921, 11979, 9568, 8833, -12968, 8133)

In [20]:
#i
foo[is.finite(foo^75)]

[1] 4.3 2.2 2.4 3.3 3.1 3.4

In [3]:
#ii
foo[!(abs(foo^75) != (foo^75))]

[1] 13563 16981 12921 11979  9568  8833  8133

### b

In [4]:
bar <- matrix(
    c(77875.40,-35466.25,-39803.81, 27551.45, -73333.85, 55976.34, 
      23764.30, 36599.69, 76694.82, -36478.88, -70585.69, 47032.00),
    nrow = 3, 
    ncol = 4
)

In [5]:
bar

     [,1]      [,2]      [,3]     [,4]
[1,]  77875.40  27551.45 23764.30 -36478.88
[2,] -35466.25 -73333.85 36599.69 -70585.69
[3,] -39803.81  55976.34 76694.82  47032.00

In [6]:
#i
which(x=is.nan((bar^65) / Inf))

[1]  1  5  6  9 11

In [7]:
#ii
which(x=!is.nan(bar^67 + Inf))

 [1]  1  2  3  4  6  7  8  9 10 12

In [8]:
which(x=bar^67!=-Inf)

 [1]  1  2  3  4  6  7  8  9 10 12

In [9]:
#iii
which(x=!(bar^67==Inf))

[1]  2  3  4  5  7  8 10 11

## 6.2

### a

In [15]:
foo <- c(4.3, 2.2, NULL, 2.4, NaN, 3.3, 3.1, NULL, 3.4, NA)

In [16]:
#i
length(foo)

[1] 8

In [17]:
#ii
which(x=is.na(x=foo))

[1] 4 8

In [18]:
#iii
is.null(x=foo)

[1] FALSE

In [19]:
#iv
is.na(x=foo[8])+4/NULL

numeric(0)

### b

In [21]:
al <- c(7,7,NA,3,NA,1,1,5,NA)

In [26]:
b_list <- list(alpha=al)

In [27]:
b_list

$alpha
[1]  7  7 NA  3 NA  1  1  5 NA

In [31]:
#i
b_list$alpha

[1]  7  7 NA  3 NA  1  1  5 NA

In [32]:
#ii
b_list$beta

NULL

In [35]:
#iii
b_list$beta <- which(x=is.na(b_list$alpha))

In [36]:
b_list

$alpha
[1]  7  7 NA  3 NA  1  1  5 NA

$beta
[1] 3 5 9

## 6.3

### a

### b

### c

### d