## 6.1

### a

In [3]:
foo <- c(13563, -14156, -14319, 16981, 12921, 11979, 9568, 8833, -12968, 8133)

In [7]:
#i
foo[is.finite(foo^75)]

[1] 11979  9568  8833  8133

In [14]:
#ii
foo[!(abs(foo^75) != (foo^75))]

[1] 13563 16981 12921 11979  9568  8833  8133

### b

In [16]:
bar <- matrix(
    c(77875.40,-35466.25,-39803.81, 27551.45, -73333.85, 55976.34, 
      23764.30, 36599.69, 76694.82, -36478.88, -70585.69, 47032.00),
    nrow = 3, 
    ncol = 4
)

In [17]:
bar

     [,1]      [,2]      [,3]     [,4]
[1,]  77875.40  27551.45 23764.30 -36478.88
[2,] -35466.25 -73333.85 36599.69 -70585.69
[3,] -39803.81  55976.34 76694.82  47032.00

In [25]:
#i
which(x=is.nan((bar^65) / Inf))

[1]  1  5  6  9 11

In [37]:
#ii
which(x=!is.nan(bar^67 + Inf))

 [1]  1  2  3  4  6  7  8  9 10 12

In [38]:
which(x=bar^67!=-Inf)

 [1]  1  2  3  4  6  7  8  9 10 12

In [41]:
#iii
which(x=!(bar^67==Inf))

[1]  2  3  4  5  7  8 10 11

## 6.2

### a

In [44]:
foo <- c(4.3, 2.2, NULL, 2.4, NaN, 3.3, 3.1, NULL, 3.4, NA)

In [46]:
#i
length(foo)

[1] 8

In [47]:
#ii
which(x=is.na(x=foo))

[1] 4 8

In [48]:
#iii
is.null(x=foo)

[1] FALSE

In [55]:
#iv
is.na(x=foo[8])+4/NULL

numeric(0)

### b